# ======================
# Backend (Python)
# ======================
__pycache__/
*.pyc
venv/

# ======================
# Environment variables
# ======================
.env

# ======================
# Frontend (Next.js)
# ======================
node_modules/
.next/
out/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log